<div class="container-xxl flex-grow-1 container-p-y">
  <div class="card">
    <h5 class="card-header">View Details</h5>
    <div class="card-body demo-vertical-spacing demo-only-element">

      <div class="form-floating form-floating-outline mb-6">
        <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example"
          (change)="getTeacher($event)">
          <option selected disabled>Select Department</option>
          <option value="CSE">CSE</option>
          <option value="AI-ML">AI-ML</option>
          <option value="MECHENICAL">MECHENICAL</option>
          <option value="CIVIL">CIVIL</option>
          <option value="ELECTRICAL">ELECTRICAL</option>
          <option value="ARTS">ARTS</option>
        </select>
        <label for="exampleFormControlSelect1">Select Department</label>
      </div>
      <div class="form-floating form-floating-outline mb-6">
        <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example"
          (change)="getData($event)">
          <option selected disabled>Select Staff</option>
          <option *ngFor="let teacher of teachers" value="{{teacher.id}}">{{teacher.user_name}}</option>

        </select>
        <label for="exampleFormControlSelect1">Select Staff</label>
      </div>

      <div class="card-body">
        <div class="row mt-4">
          <div class="d-grid gap-2 col-lg-6 mx-auto">
            <button class="btn btn-secondary btn-lg" type="button">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- view research hardcoded preview page-->

<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
      <div class="card-body demo-vertical-spacing demo-only-element">
        <h5 class="card-header">SUBMISSION VIEWER</h5>
        <!-- <button type="button" class="btn btn-primary " id="staffinfo">Information about Professor</button> -->
        <button type="button" class="btn btn-primary " (click)="exportToStyledExcel(details)" [hidden]="!details?.length">Download Excel</button>
        <div class="table-responsive text-nowrap">
          <table class="table">
            <thead class="table-dark">
              <tr>
                <th>Sr.No</th>
                <th>Category</th>
                <th>Option</th>
                <th>Details</th>
                <th>File</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <tr *ngFor="let data of details;let i = index">
                <td>{{i + 1}}</td>
                <td>{{data.source_table}}</td>
                <td><i class="ri-suitcase-2-line ri-22px text-danger me-4"></i><span>{{data.selected_option}}</span>
                </td>
                <td>{{data.details}}</td>
                <td><a class="badge rounded-pill bg-label-primary me-1"
                    (click)="download(data.file_path)">{{getOriginalFileName(data.file_path) }}</a></td>
                <td>
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="ri-more-2-line"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0);"><i class="ri-pencil-line me-1"></i> Edit</a>
                      <a class="dropdown-item" href="javascript:void(0);"><i class="ri-delete-bin-6-line me-1"></i>
                        Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
