<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">

        <div class="col-xl">
            <div class="card mb-6">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Add Teacher Form</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-floating form-floating-outline mb-6">
                            <input type="text" class="form-control" id="basic-default-fullname"
                                placeholder="Teacher Name"  required/>
                            <label for="basic-default-fullname"><i class="ri-user-line ri-11px"></i> Full Name</label>
                        </div>
                        <div class="form-floating form-floating-outline mb-6" required>
                            <select class="form-select" id="exampleFormControlSelect1"
                                aria-label="Default select example ">
                                <option selected disabled>Select Department</option>
                                <option value="1">CSE</option>
                                <option value="2">AI-ML</option>
                                <option value="3">MECHENICAL</option>
                                <option value="4">CIVIL</option>
                                <option value="5">ELECTRICAL</option>
                                <option value="6">ARTS</option>
                            </select>
                            <label for="exampleFormControlSelect1">Select Department</label>
                        </div>
                        <div class="mb-6">
                            <div class="input-group input-group-merge">
                                <div class="form-floating form-floating-outline">
                                    <input type="text" id="basic-default-email" class="form-control"
                                        placeholder="teacher-email" aria-label="john.doe"
                                        aria-describedby="basic-default-email2" required />
                                    <label for="basic-default-email"><i class="ri-mail-fill"></i> Email</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating form-floating-outline mb-6">
                            <input type="text" id="basic-default-phone" class="form-control phone-mask"
                                placeholder="Teacher number" required/>
                            <label for="basic-default-phone"><i class="ri-phone-fill ri-20px"></i> Phone No</label>
                        </div>
                        <div class="form-floating form-floating-outline mb-6">
                            <input type="text" id="teacher-biometric-no" class="form-control phone-mask"
                                placeholder="Teacher number" required/>
                            <label for="basic-default-phone"><i class="ri-fingerprint-line"></i> Biometric
                                Number</label>
                        </div>
                        <div class="input-group input-group-merge mb-6">
                          <span id="basic-icon-default-message2" class="input-group-text"
                            ><i class="ri-home-4-line"></i></span>
                          <textarea
                            id="teacher-address"
                            class="form-control"
                            placeholder="Teacher - Address"
                            aria-label="Teacher - Address"
                            aria-describedby="basic-icon-default-message2"
                            style="height: 60px" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
